/* You can add global styles to this file, and also import other style files */


.bgImage{
    background-image: url("assets/images/bgImage.jpg");
    text-align: center !important;
    align-content: center !important;
}